/**
 * Styles for the Stakeholder Review "viewport" display option.
 */

#stakeholder-review-wrapper {
  z-index: 99999;
  position: fixed;
  bottom: 0;
  background-color: #333;
  padding: 20px;
  width: 100%;
  box-shadow: 0 3px 20px #000;
  color: #fff;
}
#stakeholder-review-handle {
  display: inline-block;
  top: -30px;
  position: absolute;
  background: #333;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  margin: 0;
}