.stakeholder-review-input-group {
  margin-bottom: 20px;
}
.stakeholder-review-input-group p {
  font-size: 16px;
}
.stakeholder-review-input-group input:first-child,
.stakeholder-review-input-group-button:first-child .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.stakeholder-review-input-group input,
.stakeholder-review-input-group-button {
  display: inline-block;
}
.stakeholder-review-input-group-button {
  vertical-align: middle;
}
.stakeholder-review-input-group input {
  position: relative;
  margin: 0;
}
.stakeholder-review-input-group input[type="text"] {
  min-height: 32px;
  padding: 0 8px;
  font-size: 13px;
  line-height: 32px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
  margin-right: 2px;
  width: 650px;
}
.stakeholder-review-input-group:last-child .btn {
  margin-left: -1px;
}
.stakeholder-review-input-group .btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc,#eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}
.stakeholder-review-input-group .clippy {
  vertical-align: middle;
}
.stakeholder-review-copied {
  font-style: italic;
  margin: -10px 0 .5em;
  display: block;
}
.stakeholder-review-input-group input,
.stakeholder-review-input-group button {
  font: 13px/1.4 Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Segoe UI Emoji","Segoe UI Symbol";
}
